{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <img class="card-img-top" src="{{ object.avatar|mymedia}}" alt="Card image cap">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Имя</th>
                        <td>{{ object.first_nami|title }}</td>
                    </tr>
                    <tr>
                        <th>Фамилия</th>
                        <td>{{ object.last_name|title }}</td>
                    </tr>
                    <tr>
                        <th></th>
                        {% if object.is_active %}
                        <td>Учится</td>
                        {% else %}
                        <td><span class="text-muted">Не yчится</span></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}